#join {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#join-dialog {
  background-color: var(--eleBase-color);
  padding: 20px;
  border-radius: 5px;
}
.btn {
  font-weight: bold;
  padding: 2px;
  border-radius: 2px;
  margin-top: 15px;
  border-color: #06d362;
}
.btn:hover {
  border-color: #1abd61;
}
.video-container-outer {
  height: 100vh;
  width: 100vw;
}
