.vertical-center {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 991px) {
  .vertical-center {
    width: 85%;
    padding-top: 10px;
    top: 57%;
  }
}
#join-dialog h1 {
  color: #4d4d4d;
  font-weight: bold;
  text-align: center;
}
#join-dialog label {
  color: #0088aa;
}
#join-dialog input.btn {
  margin-top: 15px;
}
