@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&family=UnifrakturMaguntia&family=Vesper+Libre:wght@400;500&display=swap');

:root {
    --font-base: 'Vesper Libre','Noto Sans KR', 'UnifrakturMaguntia';

    --bgBase-color: #202321;
    --bgExtra-color: #715C71;
    --fontBase-color: #FFFFFF;
    --fontAccent-color: #333236;
    --eleBase-color: #FDECFE;
    --eleActionPos-color: #24E424;
    --eleActionNeg-color: #EA4335;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}