#join {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#join-dialog {
  background-color: var(--eleBase-color);
  padding: 20px;
  border-radius: 5px;
}
#video-container {
  display: flex;
  direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-weight: bold;
  height: 80vh;
  width: 80vw;
}

.stream-container-many {
  width: calc(100% / 5);
}
.stream-container-less {
  width: calc(100% / 3);
}
.stream-container-dual {
  width: calc(100% / 2);
}
.btn {
  font-weight: bold;
  padding: 2px;
  border-radius: 2px;
  margin-top: 15px;
  border-color: #06d362;
}
.btn:hover {
  border-color: #1abd61;
}
.text-center {
  display: flex;
  justify-content: space-between;
}
